// 颜色定义规范
// $color-background = #222
// $color-background-d = rgba(ff, ff, 00, 1)
$color-background = #fef8ea
// $color-background = #f7b500
$color-background-d = #ffff00
// player 區域底色
$color-highlight-background = #f7b500
// $color-highlight-background = #fef8ea
$color-dialog-background = #666

// player 圖標
// $color-theme = #ffcd32
$color-theme = #864407

// miniPlayer圖示
// $color-theme-d = rgba(255, 205, 49, 0.5)
$color-theme-d = rgba(86, 44, 7, 0.3)
$color-sub-theme = #d93f30

// player 秒
// $color-player-text = #fff
// $color-player-text = #fef8ea
$color-player-text = #864407
// $color-text = #fff
// 標題文字
$color-text =#D1385B
// $color-text-d = rgba(255, 255, 255, 0.3)
// $color-text-l = rgba(255, 255, 255, 0.5)
// $color-text-ll = rgba(255, 255, 255, 0.8)

$color-text-d = rgba(24,20,21, 0.8)

// slider 點
$color-text-l = rgba(86,44,07, 0.5)
// $color-text-l = rgba(255, 255, 255, 1)
// $color-text-ll = rgba(255, 255, 255, 1)

$color-text-ll = rgba(86,44,07, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
